// Composition
.container {
	margin-inline: auto;
  width: min(58rem, 100% - 2rem);
}

.even-columns {
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--gap, 1rem);
  
  @media (width >= 768px) {
    grid-auto-flow: column;    
  }
}