---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="BeyondCSS T-Shirt project with Astro">
	<main>
		<div class="container">
			<div class="even-columns" style="--gap: 2rem">
				<Card
					category="Men’s shirts"
					title="Out Cast"
					type="product"
					imgSrc="/assets/outcast.jpg"
					imgAlt="White t-shirt"
					price="$23.99"
				/>

				<Card
					category="Men’s shirts"
					title="Peace"
					type="product"
					imgSrc="/assets/peace.jpg"
					imgAlt="Black t-shirt"
					price="$23.99"
				/>

				<Card
					category="Woman’s shirts"
					title="Feline"
					type="product"
					imgSrc="/assets/feline.jpg"
					imgAlt="White t-shirt"
					price="$14.99"
				/>
			</div>

			<h2 class="text-center fw-bold margin-block-xl">Browse other categories</h2>

			<div class="even-columns margin-block-xl">
				<Card category="Men’s shirts" type="link-with-image" imgSrc="/assets/outcast.jpg" />

				<Card category="Woman’s shirts" type="link-with-image" imgSrc="/assets/feline.jpg" />

				<Card category="Woman’s jackets" type="link-with-image" imgSrc="/assets/w-jacket.jpg" />

				<Card category="Men’s jackets" type="link-with-image" imgSrc="/assets/m-jacket.jpg" />

				<Card category="Men’s shoes" type="link-with-image" imgSrc="/assets/shoes.jpg" />
			</div>
		</div>
	</main>
</Layout>
