<header class="margin-block-xl">
	<div class="container">
		<h1 class="page-title text-center text-uppercase">T-shirts</h1>
		<p class="text-center">Browse our selection of high-quality t-shirts</p>
	</div>
</header>
